# Nunca substitua estes placeholders em um arquivo versionado.
DBT_HOST=<HOST_DA_CONTA>
DBT_TOKEN=<TOKEN_TEMPORARIO>
DBT_ACCOUNT_ID=<ACCOUNT_ID>
DBT_PROD_ENV_ID=<PROD_ENV_ID>
DBT_DEV_ENV_ID=<DEV_ENV_ID>
DBT_USER_ID=<USER_ID>
